/* Utility  classes */

.d-flex{
  display: flex;
}

.link_lightgrey{
  color: #ced5db;
}

.link_lightgrey:hover{
  color: black;
  text-decoration: none;
}

.link_lightgrey:focus{
  color: black;
  text-decoration: none;
}

.link_grey{
  color: #8c8e8f;
}

.link_grey:hover{
  color: black;
  text-decoration: none;
}

.link_grey:focus{
  color: black;
  text-decoration: none;
}

.button{
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 12px;
}

.hidden{
  display: none;
}

.button:hover{
  text-decoration: none;
}

.p_relative{
  position: relative;
}

.p_absolute{
  position: absolute;
}

.mx-20{
  margin-left: 20px;
  margin-right: 20px;
}

.ml-20{
  margin-left: 20px;
}

.mr-10{
  margin-right: 10px;
}

.mr-40{
  margin-right: 40px;
}

.px-15{
  padding-left: 15px;
  padding-right: 15px;
}

.px-25{
  padding-left: 25px;
  padding-right: 25px;
}

/* Commons */

ul{
  list-style: none;
}

/* navbar */

nav{
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

/* Parte sinistra navbar */

.left_navbar > ul > li , .right_navbar > ul > li {
  display: inline-block;
}

/* Parte destra navbar */
.accedi{
  background-color: #ededed;
  color: black;
}

.accedi:hover{
  color: black;
  background-color: #dadadb;
}

.accedi:focus{
  color: black;
  text-decoration: none;
}

.iscriviti{
  background-color: black;
  color: white;
}

.iscriviti:hover{
  color: white;
  background-color: #3d4043;
}

.iscriviti:focus{
  color: white;
  text-decoration: none;
}

.dropdown_menu{
  width: max-content;
  padding: 20px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 16px 0px rgba(199,199,199,1);
  border-radius: 5px;
  transform: translateX(-26%);
}

.dropdown_menu li{
  padding-bottom: 20px;
  padding-left: 0;
}

.dropdown_menu.chisiamo{
  transform: translateX(-30%);
}

.dropdown_menu.aiuto{
  transform: translateX(-40%);
}
